In [312]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score as r2
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV

In [313]:
df = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [314]:
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [315]:
df.nunique()

Id               10000
DistrictId         205
Rooms                9
Square           10000
LifeSquare        7887
KitchenSquare       58
Floor               33
HouseFloor          44
HouseYear           97
Ecology_1          129
Ecology_2            2
Ecology_3            2
Social_1            51
Social_2           142
Social_3            30
Healthcare_1        79
Helthcare_2          7
Shops_1             16
Shops_2              2
Price            10000
dtype: int64

In [316]:
# df['LifeSquare'].fillna(df['Square'] * 0.87918, inplace=True)
df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

In [317]:
train_df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare          0
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     3430
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

In [318]:
# Square, LifeSquare by DistrictId

In [319]:
# train_df['Square', 'LifeSquare', 'DistrictId']

In [320]:
train_df = df[df['LifeSquare'].notnull()]
train_df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare          0
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     3430
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

In [321]:
features = ['DistrictId', 'Square']
target = 'LifeSquare'

In [322]:
x = train_df[features]
# x = pd.concat([x, pd.get_dummies(x['DistrictId'])], axis=1)
# x.drop(['DistrictId'], inplace=True, axis=1)
y = train_df[target]

In [323]:
# parameters = {
#     'n_estimators': [200, 250, 300],
#     'max_depth': np.arange(10, 15),
# }

# clf = GridSearchCV(
#     estimator=RandomForestRegressor(),
#     param_grid=parameters,
#     scoring='r2',
#     cv=5,
# )

# clf.fit(x, y)
# clf.best_params_

In [324]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [325]:
model = RandomForestRegressor(max_depth=14,
                             n_estimators=300,
                             random_state=55)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
r2(y_test, y_pred)

0.43331932865605605

In [326]:
x.head()

   DistrictId     Square
0          35  47.981561
1          41  65.683640
2          53  44.947953
3          58  53.352981
4          99  39.649192

In [327]:
y_pred_train = model.predict(x_train)
r2(y_train, y_pred_train)

0.8209224793743211